.chat {
	padding-bottom: 50px;
	padding-top: 60px;

	.brand {
		float:none;
		width:100%;
		text-align:center;
	}

	.navbar-form {
		form {
			margin:0px;

			input[type="text"] {
				margin-bottom:5px;
			}
		}
	}

	.sidebar, 
	.tabs {
		position:fixed;
		top:0px;
		padding-top:60px;
		z-index: 1001;
		background-color:white;
	}

	.sidebar-nav {
		padding: 9px 0;
	}

	.messages {
		padding-bottom: 20px;
		padding-top: 60px;
		overflow:hidden;

		.popover {
			position: relative;
			display:block;
			clear:both;
			margin-bottom:10px;
			z-index: 1000;
			max-width:none;

			.arrow {
				margin-top:0px;
				top:0px;
			}

			.date {
				font-size:0.8em;
				font-style: italic;
			}

			&.left {
				float:right;
				margin-right: 10px;
				margin-left:30px;
				background-color: #dff0d8;
				color: #468847;
				border-color:#d6e9c6;

				.arrow {
					border-left-color: #d6e9c6;

					&:after {
						border-left-color: #dff0d8;
					}
				}
			}

			&.right {
				float:left;
				margin-right: 30px;
				margin-left:10px;

				background-color: #d9edf7;
				color: #3a87ad;
				border-color:#bce8f1;

				.arrow {
					border-right-color: #bce8f1;

					&:after {
					border-right-color: #d9edf7;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	body {
		padding:0px;
	}
	.chat {
		.sidebar,
		.tabs {
			display:none;
		}
		.messages {
			padding-top: 0px;
			padding-left:10px;
			padding-right:10px;
		}
	}

	.navbar-fixed-top,
	.navbar-fixed-bottom {
		.container-fluid {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	
}

@media (max-width: 979px) and (min-width: 768px) {
	.chat {
		.sidebar, 
		.tabs {
			padding-top:70px;
		}
	}
}

@media (min-width: 768px) {
	.chat {
		.navbar-fixed-top {
			.users {
				display:none;
			}
		}
	}
}