@import "login.less";
@import "chat.less";

body {
  padding-top: 10px;
  padding-bottom: 40px;
}

a { 
  cursor:pointer;
}

.navbar-fixed-bottom {
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
}

.navbar-fixed-top {
  position:fixed;
  top:0px;
}



input:required {
    box-shadow:none;
}
