<div class="container-fluid chat" ng-class="{invisible:!currentUser}">
	<div class="row-fluid">

		<!-- Sidebar: only visible when > 768px -->
		<div class="span3 sidebar">
			<div class="well sidebar-nav onlybigscreen">
				<li class="nav-header">Gebruikers</li>
				 <ul class="nav nav-list userlist" ng-include src="'views/UserList.html'"></ul>
			</div>
		</div>

		<!-- Content -->
		<div class="span9 pull-right">
			
			<!-- Tabs: only visible when > 768px -->
			<div class="tabs span9">
				<ul class="nav nav-tabs">
					<li ng-repeat="chat in chats" ng-class="{active:chat==selectedChat}" ng-click="selectUser(chat.recipient)">
				 		<a href="#{{chat.recipient.name}}" data-toggle="tab">
							<i class="icon-comment" ng-hide="!chat.recipient.newMessages"></i>
				 			{{chat.recipient.name|truncate:16}}&nbsp;<button class="close" type="button" ng-click="closeChat(chat)"><i class="icon-remove"></i></button>
				 		</a>
				 	</li>
				</ul>
			</div>

			<!-- Tab contents -->
			<div class="tab-content">
				<div ng-repeat="chat in chats" id="{{chat.recipient.name}}" class="tab-pane" ng-class="{active:chat==selectedChat}">
					<!-- Messages -->
					<div class="messages media ">
						<div ng-repeat="message in chat.messages" class="popover" ng-class="{right:message.sender==chat.recipient.name, left:message.sender!=chat.recipient.name}" scroll-if="$last">
							<div class="arrow"></div>
							<div class="popover-content">
								<p>{{message.content}}</p>
								<i>{{message.timestamp | date:"dd-MM-yyyy HH:mm:ss"}}</i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Bottom toolbar -->
	<div class="row-fluid">
		<div class="navbar-form pull-left toolbar">

			<div class="navbar-inner">
				<form ng-submit="sendMessage(selectedChat, text)">
					<input type="text" ng-model="text" class="pull-left span12" ng-disabled="!selectedChat" required placeholder="Type hier je bericht" >
					<button class="btn btn-primary pull-right" ng-disabled="!selectedChat">Verstuur</button>

					<!-- Users -->
					<div class="btn-group dropup pull-left">
						<a class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="icon-comment"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" ng-include src="'views/UserList.html'"></ul>
					</div>

					<!-- Mute -->
					<div class="btn-group dropup pull-left">
						<a class="btn dropdown-toggle"  data-toggle="dropdown">
							<i class="icon-volume-off"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="user in users" ng-click="toggleMute(user)"ng-class="{active:user.muted}">
								<a>{{user.name|truncate:16}}</a>
							</li>
						</ul>
					</div>

					<!-- Options -->
					<div class="btn-group dropup pull-left">
						<a class="btn dropdown-toggle"  data-toggle="dropdown">
							<i class="icon-cog"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li ng-click="toggleWolframAlpha()" ng-class="{active:wolframAlphaStarted}"><a>Wolfram Alpha</a></li>

							<li class="divider"></li>
							<li ng-click="logout()"><a>Afmelden</a></li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
