
<form ng-submit="login(username)" class="login">
	<h2>Aanmelden</h2>
	<input type="text" class="input-block-level" placeholder="Gebruikersnaam" ng-model="username" required>

	<select ng-model="serviceUrl" ng-change="selectService(serviceUrl)" required>
		<option ng-repeat="service in services" ng-class="{active: service==serviceUrl}">{{service}}</option>
	</select>

	<label class="checkbox">
	  <input type="checkbox" value="remember-me"> Onthouden
	</label>
	
	<button class="btn btn-large btn-primary">OK</button>
</form>